img {
    width: 200px;
    height: 200px;
}

body {
    background-image: url("../multimedia/eren.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

figcaption {
    color: white;
}